@*@model IQueryable<Product>*@

@model ProductListViewModel


<h2>Witam w Sklepie</h2>

<h3>Lista produktów:</h3>
@*@foreach(var p in Model ?? Enumerable.Empty<Product>()){
    <div>
        <h4>@p.Name</h4>
        <p>@p.Description</p>
        <h4>Cena: @p.Price.ToString("c")</h4>
    </div>
}*@

<div page-model="@Model?.PagingInfo" page-action="Index"
     page-class-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-url-category="@Model?.CurrentCategory!"
     page-class-selected="btn-primary" class="btn-group pull-right m-l">
</div>

@foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
{
    @*<div class="card card-outline-primary m-l p-l">
        <div class="bg-faded p-l">
        <h4>@p.Name
        <span class="badge rounded-pill bg-primary text-white" style="float:right">
            <small>Cena: @p.Price.ToString("c")</small>
        </span>
        </h4>
            
        </div>
        <div class="cart-text p-l">@p.Description</div>
    </div>*@

    <partial name="ProductSummary" model="p"/>
}

<div page-model="@Model?.PagingInfo" page-action="Index" 
    page-class-enabled="true" 
    page-class="btn" 
    page-class-normal="btn-outline-dark"
    page-url-category="@Model?.CurrentCategory!"
    page-class-selected="btn-primary" class="btn-group pull-right m-l"
>
</div>